apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80         # The outside world hits port 80
      targetPort: 3000 # Forward to backend container port 3000